* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: #fbf3ff;
}
.container {
	position: absolute;
	max-width: 800px;
	height: 500px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    .row{
        height: 100%;
    }
    &__1 {
        position: relative;
        background: white;
        border-radius: 25px;
        height: 100%;
        box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
        .form {
            position: relative;
            margin-top: 50px;
            &-header {
                color: #005bea;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            &-group {
                .fas {
                    position: relative;
                    color: #005bea;
                    left: 36px;
                }
                &__input {
                    width: 200px;
                    border-radius: 25px;
                    padding: 10px;
                    padding-left: 50px;
                    border: none;
                    box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &-btn {
            background: linear-gradient(45deg, #00c6fb,#005bea);
            color: white;
            width: 200px;
            padding: 10px;
            border-radius: 25px;
            border: none;
            box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
            &:hover {
                background: linear-gradient(45deg,#005bea, #00c6fb);
            }
            &:focus {
                outline: none;
            }
        }
    }
    &__2 {
        position: relative;
        background-image: linear-gradient(45deg, #00c6fb,#005bea);
        border-radius: 25px;
        padding: 25px;
        color: rgb(192,192,192);
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
            &_box {
                position: relative;
                margin: 20px;
                margin-bottom: 100px;
            &-header {
                color: white;
                font-size: 44px;
            }
            &-btn {
                background: transparent;
                color: white;
                border: 2px solid white;
                width: 120px;
                border-radius: 25px;
                padding: 10px;
                box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
                &:hover {
                    border: 2px solid #eecbff;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}